 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
    }

    div#links {
        /* border: 2px solid green; */
        z-index: 1;
        position: absolute;
        display: flex;
        width: 100%;
        /* left: 50%; */
        top: 50%;
        transform: translate(0,-50%);
        background: transparent;
        justify-content: center;
    }

    a {
        color: pink;
    }
    input{
        background: transparent;
        margin:8px;
        padding: 8px;
        border-radius: 8px;
        color:red;
        font-size: 20px;
        font-family: fantasy;
        background: black;
    }
    input:hover{
        color: yellow;
        padding: 12px;
    }

    canvas {
        position: absolute;
        top: 0;
        bottom: 0;
        /* z-index: -1; */
    }